.collectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Increased gap for better spacing */
  padding: 20px; /* Added padding to the container */
}

.productGrid {
  display: grid;
  width: 100%;
  max-width: 1200px; /* Added max-width to limit the container width */
  grid-template-columns: repeat(4, 0fr);
  gap: 20px; /* Increased gap between grid items */
  padding: 0 20px; /* Added horizontal padding to the grid */
  justify-content: center; /* Center the grid items */
}

.productItem {
  display: flex;
  justify-content: center;
}

.emptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  min-height: 200px;
  width: 100%;
  padding: 28px 0;
  background-color: var(--grey-50);
  text-align: center;
  border-radius: 14px;
}

.emptyTitle {
  font-weight: bold;
  font-size: 20px;
}

.emptySubtext {
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .productGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .productGrid {
    grid-template-columns: 1fr;
  }
}
