/* CSS for gift Section */

.Gift {
    background: rgb(20,20,20);
    background: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgb(26, 26, 26) 52%, rgb(30, 30, 30) 63%, rgb(33, 33, 33) 72%, rgba(31,31,31,1) 86%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    margin-top: 4.5rem;
}

.giftImage {
    width: 500px;
}

.giftText {
    width: 500px;
    margin-right: 100px;
    text-align: start;
    box-sizing: border-box;
}

.giftText p,
.giftText b,
.giftText span {
    color: rgb(199, 199, 199);
}

.giftText p {
    font-size: 1rem;
    margin-top: 20px;
    text-align: justify;
    text-justify: inter-word;
}

#pjustify {
    text-align: justify;
  text-justify: inter-word;
}

/* .sendGiftButton {
    background-color: transparent;
    border: 2px solid #3b82f6;
    color: #3b82f6;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
} */

.sendGiftButton:hover {
    /* border: 2px solid #6c6c6c; */
    cursor: pointer;
    text-decoration: none;
    /* padding: 0.5rem 0.5rem; */
    /* border-radius: 10px; */
}

/* Media Query for Gift */

@media screen and (max-width: 768px) {
    .Gift {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 20px;
    }

    .giftImage {
        margin-left: 0;
        width: 100%;
        max-width: 300px;
    }

    .giftText {
        width: 90%;
        margin: 20px auto;
    }

    .giftText,
    .giftText p,
    .giftText h1 {
        text-align: center;
        width: 100%;
    }

    #pjustify {
        text-align: justify;
      text-justify: inter-word;
    }
}
